* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #143a52;
  --secondry-color: #6e828a;
  --third-color: #cde3eb;
}

body {
  background-color: var(--primary-color) !important;
}

.signContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondry-color);
}

.sign {
  position: fixed;
  bottom: 0;
}
